<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carte de Contrôle</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>Créer une Carte de Contrôle</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Uploader</button>
    </form>
    <a href="/">Retour à l'accueil</a>
</body>
</html>
